* { margin: 0; 
	padding: 0;
}
body{
	background: #fff;
	color: #000;
}
html{ 
	font: 14px/18px 'HelveticaNeue-Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
	
}
a:hover, a:active {
	outline: none; 
}
#sizer{ 
	width: 340px; margin: 0 auto; padding: 144px 200px 240px; 
	background: url(highlight.png) no-repeat 50% 0; 
}


/*========================================= Plugin Styles*/
fieldset{ 
	border: 0; 
	padding-bottom: 9px; 
}
label { 
	display: block; cursor: pointer; 
	line-height: 20px; 
	padding-bottom: 9px; 
}

.radios     { 
	padding-top: 18px; 
	background: url(divider.png) repeat-x 0 0; 
}
.label_check input,
.label_radio input  { 
	margin-right: 5px; 
}

.has-js .label_check,
.has-js .label_radio{ 
	padding-left: 34px; 
}
.has-js .label_radio{ 
	background: url(radio-off.png) no-repeat; 
}
.has-js .label_check{ 
	background: url(check-off.png) no-repeat; 
}
.has-js label.c_on{ 
	background: url(check-on.png) no-repeat; 
}
.has-js label.r_on{ 
	background: url(radio-on.png) no-repeat; 
}
.has-js .label_check input,
.has-js .label_radio input  { 
	position: absolute; left: -9999px; 
}
